.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu__title{
    font-size: large;
    font-weight: 200;
}